*{
    margin:0px;
    padding: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.header img{
    height: 90px;
    width: 90px;
}
.nav-items ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-top: 30px;
    margin-right: 20px;
}